body {
    margin: 0;
    background: #000000;
    color: #F5F3EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  /* CONTENEDOR */
  .container {
    max-width: 700px;
    padding: 20px;
  }
  
  /* NOMBRES */
  h1 {
    font-family: 'Playfair Display', cursive;
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 30px;
    color: #F5F3EF;
  }
  
  /* CUENTA REGRESIVA */
  #countdown {
    font-family: 'Marcellus', serif;
    font-size: 1.4rem;
    letter-spacing: 4px;
    color: #C6A75E;
    margin-bottom: 40px;
  }
  
  /* MENSAJE */
  .message {
    font-family: 'Marcellus', serif;
    font-size: 1rem;
    line-height: 1.8;
    opacity: 0.85;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* BOTÓN */
  #enterBtn {
    margin-top: 50px;
    padding: 14px 35px;
    background: transparent;
    color: #C6A75E;
    border: 1px solid #C6A75E;
    cursor: pointer;
    font-family: 'Marcellus', serif;
    font-size: 0.9rem;
    letter-spacing: 2px;
    display: none;
    transition: 0.3s ease;
  }
  
  #enterBtn:hover {
    background: #C6A75E;
    color: black;
  }